/* THIS CODE WAS BORROWED FROM VIENNA MEIJER on 15th of SEPTEMBER. COULDN'T FIND OUT HOW TO DELETE IT FROM MY REPOSITORY :( */
html {
    font-size: 100%;
    width: 100%;
    height: 100%;
}

body {
    font-size: 1.25em;
    color: #111;
    letter-spacing: 0.01em;
    box-sizing: border-box;
}


/* Opdracht 2.1 */

article {
    width: 40vw;
    margin: 0 auto;
}

* {
    box-sizing: border-box;
}

p {
    line-height: 1.45em;
}

h1 {
    font-size: 2.5em;
<<<<<<< HEAD
=======
  -webkit-column-span: all;
          column-span: all;
>>>>>>> origin/master
}

h2 {
    font-size: 1.5em;
<<<<<<< HEAD
=======
  -webkit-column-span: all;
          column-span: all;
>>>>>>> origin/master
}


/* Einde opdracht 2.1 */


/* Opdracht 2.2 */

main section {
    display: flex;
    flex-wrap: wrap;
}

main section article {
    flex-basis: 33.333%;
}


/* Einde opdracht 2.2 */


/* Opdracht 2.3 */

.opdrachtdrie {
    width: 90vw;
<<<<<<< HEAD
    -webkit-columns: 3;
    -moz-columns: 3;
    columns: 3;
    -webkit-column-gap: 3em;
    -moz-column-gap: 3em;
    column-gap: 3em;
    -webkit-column-rule: 1px dotted #ddd;
    -moz-column-rule: 1px dotted #ddd;
    column-rule: 1px dotted #ddd;
}

@media screen and (max-width: 780px) { /* Tablet */
=======
    -webkit-columns: 2 30vw;
    -moz-columns: 2 30vw;
    columns: 2 30vw;
    -webkit-column-gap: 1em;
    -moz-column-gap: 1em;
    column-gap: 1em;

  -webkit-column-rule: 1px dotted #ddd;
     -moz-column-rule: 1px dotted #ddd;
          column-rule: 1px dotted #ddd;
  height: 350px;
}

@media screen and (max-width: 780px) {
>>>>>>> origin/master
    /* Opdracht 2.1 */
    article {
        width: 70vw;
    }
    /* Einde opdracht 2.1 */
    /* Opdracht 2.2 */
    main section article {
        flex-basis: 50%;
    }
    /* Einde opdracht 2.2 */
<<<<<<< HEAD

/* Opdracht 2.3 */

.opdrachtdrie {
    width: 90vw;
    -webkit-columns: 2;
    -moz-columns: 2;
    columns: 2;
    -webkit-column-gap: 1.5em;
    -moz-column-gap: 1.5em;
    column-gap: 1.5em;
    /* Einde opdracht 2.3 */
}

@media screen and (max-width: 414px) { /* Mobiel */
=======
}

@media screen and (max-width: 414px) {
>>>>>>> origin/master
    /* Opdracht 2.1 */
    article {
        width: 90vw;
    }
    /* Einde opdracht 2.1 */
    /* Opdracht 2.2 */
    main section article {
        flex-basis: 100%;
    }
    /* Einde opdracht 2.2 */
<<<<<<< HEAD

/* Opdracht 2.3 */

.opdrachtdrie {
    width: 90vw;
    -webkit-columns: 1;
    -moz-columns: 1;
    columns: 1;
    /* Einde opdracht 2.3 */
=======
>>>>>>> origin/master
}
